.title-text {
  margin: 1.5rem 0;
  text-align: left;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #202020;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    color: #555;
  }
}